:root {
    color-scheme: light dark;
    scroll-behavior: smooth;
    --font: 'Lato', sans-serif;
    --h1-font: 'Dancing Script', cursive;
    --accent-color: pink;
    --accent-text-color: #1e2431;
    --accent-dark-color: mediumvioletred;
    --accent-dark-text-color: #f4f9ff;
    background-color: #a5abbd;
    color: #1e2431;
}

/* TODO: More precise scroll margins*/
h2, h3 {
    scroll-margin-top: calc(41px + 0.5em);
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    background-color: #f4f9ff;
    transition: width 0.2s;
}

body > header {
    position: relative;
    padding: 5px;
    text-align: center;
    background-color: var(--accent-color);
    border-bottom: 1px solid #a5abbd;
}

h1 {
    font-family: var(--h1-font);
    color: var(--accent-text-color);
    transition: font-size 0.2s;
}

#navi {
    position: sticky;
    align-self: end;
    top: 0;
    margin: min(1vh,1vw);
    width: 50px;
    height: 50px;
    background-color: #d1d7e9;
    color: #1e2431;
    border-radius: 5px;
    border: none;
    transition: opacity 0.2s;
    z-index: 2;
}

#navi:active {
    box-shadow: 1px 1px 5px #000000, inset 1px 1px 5px #000000;
}

div.hide {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    z-index: 10;
}

div.hide.active {
    opacity: 1;
    visibility: visible;
}

body > nav {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color:#d1d7e9;
    border-radius: 25px 0 0 25px;
    box-shadow: 1px 1px 5px #000000;
    transform-origin: right;
    opacity: 0;
    scale: 0 1;
    transition: scale 0.5s, opacity 0.5s;
}

body > nav.active {
    opacity: 1;
    scale: 1 1;
}

body > nav > ul {
    padding: 0 5px;
    list-style-type: none;
}

body > nav > ul > li {
    border-bottom: 1px solid #a5abbd;
    position: relative;
}

body > nav > ul > li:first-child {
    border-top: 1px solid #a5abbd;
}

body > nav > ul > li:active {
    box-shadow: 0 0 5px #000000, inset 0 0 5px #000000;
}

body > nav > ul > li a {
    display: inline-block;
    padding: 10px 25px;
}

body > nav > ul > li > button {
    border: none;
    background: none;
    padding: 10px;
}

body > nav > ul > li > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #d1d7e9;
    min-width: inherit;
    width: inherit;
    text-align: left;
    transform-origin: top;
    scale: 1 0;
    opacity: 0;
    max-height: 0;
    transition: scale 0.5s, opacity 0.5s, max-height 0.5s;
}

body > nav > ul > li.active > ul {
    opacity: 1;
    scale: 1 1;
    max-height: 100%;
}

body > nav > ul > li > ul > li {
    border-top: 1px solid #a5abbd;
}

body > nav > ul > li > ul > li:active {
    box-shadow: 0 0 5px #000000, inset 0 0 5px #000000;
}

main {
    flex: auto;
    border-bottom: 1px solid #3c4251;
    padding: 20px 35px;
}

footer {
    background-color:#d1d7e9;    
    padding: 10px 35px;
    transition: width 0.2s, margin-block 0.2s;
}

#scrollup {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    position: fixed;
    margin: min(1vh,1vw);
    bottom: 0;
    right: 0;
    border-radius: 25px;
    border: none;
    opacity: 0;
    transition: opacity 0.2s;
    color: var(--accent-text-color);
    z-index: 2;
}

#scrollup:active {
    box-shadow: 1px 1px 5px #000000, inset 1px 1px 5px #000000;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

figure > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 1px 1px 5px;
    border-radius: 25px;
}

figcaption {
    text-align: center;
}

/* hoverable */

@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }

    #navi:hover {
        cursor: pointer;
        box-shadow: 1px 1px 5px #000000;
    }

    body > nav > ul > li > button {
        display: none;
    }

    body > nav > ul > li:hover {
        box-shadow: 0 0 5px #000000;
    }

    body > nav > ul > li:hover > ul {
        opacity: 1;
        scale: 1 1;
        max-height: 100%;
    }
    
    body > nav > ul > li > ul > li:hover {
        box-shadow: 0 0 5px #000000;
    }

    #scrollup:hover {
        cursor: pointer;
        box-shadow: 1px 1px 5px #000000;
    }
}

/* Large screens */

@media screen and (width >= 768px) {
    body {
        width: 90%;
        margin: 8px auto;
        border-radius: 25px;
        box-shadow: 1px 1px 5px #000000;
        min-height: calc(100vh - 16px);
    }

    body > header {
        z-index: 1;
        border-radius: 25px 25px 0 0;
    }

    h1 {
        font-size: 3em;
    }

    #navi {
        display: none;
    }

    body > nav {
        position: sticky;
        top: 0;
        height: auto;
        border-radius: 0 0 25px 25px;
        opacity: 1;
        scale: 1 1;
    }

    body > nav > ul {
        box-sizing: border-box;
        margin: 0 auto;
        width: 95%;
        display: flex;
        justify-content: center;
    }

    body > nav > ul > li {
        border-bottom: none;
        border-right: 1px solid #a5abbd;
        text-align: center;
        position: relative;
    }
    
    body > nav > ul > li:first-child {
        border-top: none;
        border-left: 1px solid #a5abbd;
    }

    body > nav > ul > li > ul {
        position: absolute;
        transition: scale 0.5s, opacity 0.5s;
        max-height: revert;
        box-shadow: 1px 1px 5px #000000;
        border-radius: 0 0 25px 25px;
        text-align: center;
    }

    body > nav > ul > li:hover > ul {
        max-height: revert;
    }

    body > nav > ul > li > ul > li:last-child {
        border-radius: 0 0 25px 25px;
    }

    main {
        box-sizing: border-box;
        width: 95%;
        border-bottom: 0;
        margin: 25px auto 0;
    }

    footer {
        box-sizing: border-box;
        border-radius: 25px;
        box-shadow: 1px 1px 5px #000000;
        margin: 25px auto;
        width: 95%;
    }
}

/* Dark mode */

@media screen and (prefers-color-scheme: dark) {
    :root {
        background-color: #3c4251;
        color: #f4f9ff;
    }

    body {
        background-color: #1e2431;
    }

    body > header {
        background-color: var(--accent-dark-color);
        border-bottom: 1px solid #3c4251;
    }

    h1 {
        color: var(--accent-dark-text-color);
    }

    #navi {
        background-color: #414756;
        color: #f4f9ff;
    }

    body > nav {
        background-color: #414756;
    }

    body > nav > ul > li > ul {
        background-color: #414756;
    }

    #scrollup {
        background-color: var(--accent-dark-color);
        color: var(--accent-dark-text-color);
    }

    footer {
        background-color: #414756;
    }
}